CSS HACK 
 /* * { background-color: rgba(255,0,0,.2); }
* * { background-color: rgba(0,255,0,.2); }
* * * { background-color: rgba(0,0,255,.2); }
* * * * { background-color: rgba(255,0,255,.2); }
* * * * * { background-color: rgba(0,255,255,.2); }
* * * * * * { background-color: rgba(255,255,0,.2); }
* * * * * * * { background-color: rgba(255,0,0,.2); }
* * * * * * * * { background-color: rgba(0,255,0,.2); }
* * * * * * * * * { background-color: rgba(0,0,255,.2); } */

/* General Rules */
* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #E1E2E1;

}
ul {
    list-style: none;
}

/* Header & Navbar */
header {
    
    
}
nav {
    /* padding: 0.5rem; */
    display: flex;
    justify-content: space-between;
    align-items: stretch;

}
.hamburgerMenu {
    flex-basis: 40%;
    text-align: left;
    margin: 2rem 1rem 1rem 1rem;
    
}
.logo {
    width: 30%;
}
.search-box {
    flex-basis: 40%; 
    text-align: right;
    margin: 2.5rem 1rem 1rem 1rem;
    /* border: #2ec4b9 solid 2px; */
}
.search-box img {
    width: 35%;
}

/* Main Galleries */
main h2, h3, p {
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: justify;
    color: #0a1a3e;
    
}
h1 {
    margin: 0 1rem;
}

.explanation {
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    width: 100%; */

}


.spotlight {
    display: grid;
    grid-template-columns: 2fr 2fr;
    
    /* grid-template-columns: repeat(auto-fit, minmax(300px,1fr)); */
    width: 100%;
}
.facts {
    background-color:#e2a525;
    margin: 1rem;
    /* padding: 5px; */
    overflow: hidden;
}
.facts h3 {
    color: white;
    text-align: center;
}
 section img {
    display: block;
    width: 100%;
    /* box-shadow: -1px 0px 0px rgba(0,0,0,0.06); */
}
